@charset "utf-8";


.white{
	background-color: white;
}

.green{
	background-color:green;
}

.blue{
	background-color: blue;
}

.select{
	background-color: yellow;
}

span{
	color: black;
}

.red{
	background-color: red;
}

.orange{
	background-color: orange;
}
